version: '3.7'

services:
  {{ docker_service_name }}:
    image: {{ docker_hub_url }}/{{ image_name }}:{{ tag }}
    environment:
      - LOAD_EX={{ credentials.LOAD_EX }}
      - FERNET_KEY={{ credentials.FERNET_KEY }}
      - EXECUTOR={{ credentials.EXECUTOR }}
      - POSTGRES_HOST={{ credentials.POSTGRES_HOST }}
      - POSTGRES_PORT={{ credentials.POSTGRES_PORT }}
      - POSTGRES_USER={{ credentials.POSTGRES_USER }}
      - POSTGRES_PASSWORD={{ credentials.POSTGRES_PASSWORD }}
      - POSTGRES_DB={{ credentials.POSTGRES_DB }}
      - REDIS_HOST={{ credentials.REDIS_HOST }}
      - REDIS_PORT={{ credentials.REDIS_PORT }}
      - REDIS_PASSWORD={{ credentials.REDIS_PASSWORD }}
      - 'AIRFLOW__SECRETS__BACKEND_KWARGS={{ credentials.AIRFLOW__SECRETS__BACKEND_KWARGS }}'
    volumes:
      - dags:/usr/local/airflow/dags
      - plugins:/usr/local/airflow/plugins
    command: scheduler
    networks:
      application_default:
        aliases:
            - {{ network_alias_name }}

networks:
  application_default:
    external: true

volumes:
  dags:
  plugins: