version: "3"
services:
  {{ docker_service_name }}:
    image: {{ docker_hub_url }}/{{ image_name }}:{{ tag }}

    {% if publish_ports == true %}

    ports:
      - {{ host_port }}:{{ docker_port }}
      
    {% endif %}

    volumes:
        - odk-webapps:/usr/local/tomcat/webapps
    
    env_file:
      - {{ env_file_deployment_location }}

networks:
  application_default:
    external: true

volumes:
  odk-webapps: