version: '3'

services:

  {{ docker_service_name }}:
    image: {{ DOCKER_HUB_IMAGE }}
    hostname: "{{ docker_service_name }}"
    volumes:
      - zookeeper-datalog:/datalog
      - zookeeper-data:/data
      - zookeeper-logs:/logs

    networks:
      application_default:
        aliases:
            - {{ network_alias_name }}

networks:
  application_default:
    external: true


volumes:
    zookeeper-data:
    zookeeper-datalog:
    zookeeper-logs: