version: '3.7'

services:
  {{ docker_service_name }}_flower:
    image: {{ docker_hub_url }}/{{ image_name }}:{{ tag }}
    environment:
      - EXECUTOR={{ credentials.EXECUTOR }}
      - POSTGRES_HOST={{ credentials.POSTGRES_HOST }}
      - POSTGRES_PORT={{ credentials.POSTGRES_PORT }}
      - POSTGRES_USER={{ credentials.POSTGRES_USER }}
      - POSTGRES_PASSWORD={{ credentials.POSTGRES_PASSWORD }}
      - POSTGRES_DB={{ credentials.POSTGRES_DB }}
      - REDIS_HOST={{ credentials.REDIS_HOST }}
      - REDIS_PORT={{ credentials.REDIS_PORT }}
      - REDIS_PASSWORD={{ credentials.REDIS_PASSWORD }}
    command: flower

    {% if publish_ports == true %}

    ports:
      - {{ service_airflow_flower_host_port }}:{{ service_airflow_flower_docker_port }}
      
    {% endif %}

    networks:
      application_default:
        aliases:
            - {{ network_alias_name }}

  {{ docker_service_name }}_scheduler:
    image: {{ docker_hub_url }}/{{ image_name }}:{{ tag }}
    environment:
      - LOAD_EX={{ credentials.LOAD_EX }}
      - FERNET_KEY={{ credentials.FERNET_KEY }}
      - EXECUTOR={{ credentials.EXECUTOR }}
      - POSTGRES_HOST={{ credentials.POSTGRES_HOST }}
      - POSTGRES_PORT={{ credentials.POSTGRES_PORT }}
      - POSTGRES_USER={{ credentials.POSTGRES_USER }}
      - POSTGRES_PASSWORD={{ credentials.POSTGRES_PASSWORD }}
      - POSTGRES_DB={{ credentials.POSTGRES_DB }}
      - REDIS_HOST={{ credentials.REDIS_HOST }}
      - REDIS_PORT={{ credentials.REDIS_PORT }}
      - REDIS_PASSWORD={{ credentials.REDIS_PASSWORD }}
      - 'AIRFLOW__SECRETS__BACKEND_KWARGS={{ credentials.AIRFLOW__SECRETS__BACKEND_KWARGS }}'
    volumes:
      - dags:/usr/local/airflow/dags
      - plugins:/usr/local/airflow/plugins
    command: scheduler
    networks:
      application_default:
        aliases:
            - {{ network_alias_name }}

  {{ docker_service_name }}_webserver:
    image: {{ docker_hub_url }}/{{ image_name }}:{{ tag }}
    environment:
      - LOAD_EX={{ credentials.LOAD_EX }}
      - FERNET_KEY={{ credentials.FERNET_KEY }}
      - EXECUTOR={{ credentials.EXECUTOR }}
      - POSTGRES_HOST={{ credentials.POSTGRES_HOST }}
      - POSTGRES_PORT={{ credentials.POSTGRES_PORT }}
      - POSTGRES_USER={{ credentials.POSTGRES_USER }}
      - POSTGRES_PASSWORD={{ credentials.POSTGRES_PASSWORD }}
      - POSTGRES_DB={{ credentials.POSTGRES_DB }}
      - REDIS_HOST={{ credentials.REDIS_HOST }}
      - REDIS_PORT={{ credentials.REDIS_PORT }}
      - REDIS_PASSWORD={{ credentials.REDIS_PASSWORD }}
      - 'AIRFLOW__SECRETS__BACKEND_KWARGS={{ credentials.AIRFLOW__SECRETS__BACKEND_KWARGS }}'
    volumes:
      - dags:/usr/local/airflow/dags
      - plugins:/usr/local/airflow/plugins
    command: webserver
    healthcheck:
      test: ["CMD-SHELL", "[ -f /usr/local/airflow/airflow-webserver.pid ]"]
      interval: 30s
      timeout: 30s
      retries: 3

    {% if publish_ports == true %}

    ports:
      - {{ service_airflow_webserver_host_port }}:{{ service_airflow_webserver_docker_port }}
      
    {% endif %}
    
    networks:
      application_default:
        aliases:
            - {{ network_alias_name }}

  {{ docker_service_name }}_worker:
    image: {{ docker_hub_url }}/{{ image_name }}:{{ tag }}
    environment:
      - FERNET_KEY={{ credentials.FERNET_KEY }}
      - EXECUTOR={{ credentials.EXECUTOR }}
      - POSTGRES_HOST={{ credentials.POSTGRES_HOST }}
      - POSTGRES_PORT={{ credentials.POSTGRES_PORT }}
      - POSTGRES_USER={{ credentials.POSTGRES_USER }}
      - POSTGRES_PASSWORD={{ credentials.POSTGRES_PASSWORD }}
      - POSTGRES_DB={{ credentials.POSTGRES_DB }}
      - REDIS_HOST={{ credentials.REDIS_HOST }}
      - REDIS_PORT={{ credentials.REDIS_PORT }}
      - REDIS_PASSWORD={{ credentials.REDIS_PASSWORD }}
      - 'AIRFLOW__SECRETS__BACKEND_KWARGS={{ credentials.AIRFLOW__SECRETS__BACKEND_KWARGS }}'
    volumes:
      - dags:/usr/local/airflow/dags
      - plugins:/usr/local/airflow/plugins
    command: worker
    
    networks:
      application_default:
        aliases:
            - {{ network_alias_name }}

volumes:
  dags:
  plugins:

networks:
  application_default:
    external: true