version: '3.7'

services:
  {{ docker_service_name }}_worker: &{{ docker_service_name }}_worker
    image: {{ docker_hub_url }}/{{ image_name }}:{{ tag }}
    hostname: "{{ docker_service_name }}"
    command: ./bin/docker-worker-celery --with-scheduler
    networks:
      application_default:
        aliases:
            - {{ network_alias_name }}

    environment:
      SENTRY_DSN: '{{ credentials.SENTRY_DSN }}'
      SITE_URL: {{ credentials.SITE_URL }}
      DISABLE_SECURE_SSL_REDIRECT: '{{ credentials.DISABLE_SECURE_SSL_REDIRECT }}'
      IS_BEHIND_PROXY: '{{ credentials.IS_BEHIND_PROXY }}'
      DATABASE_URL: '{{ credentials.DATABASE_URL }}'
      CLICKHOUSE_HOST: '{{ service_posthog_clickhouse }}'
      CLICKHOUSE_DATABASE: '{{ credentials.CLICKHOUSE_DATABASE }}'
      CLICKHOUSE_SECURE: '{{ credentials.CLICKHOUSE_SECURE }}'
      CLICKHOUSE_VERIFY: '{{ credentials.CLICKHOUSE_VERIFY }}'
      KAFKA_URL: 'kafka://{{ service_posthog_kafka_service }}'
      REDIS_URL: '{{ credentials.REDIS_URL }}'
      SECRET_KEY: {{ credentials.SECRET_KEY }}
      PGHOST: {{ credentials.PGHOST }}
      PGUSER: {{ credentials.PGUSER }}
      PGPASSWORD: {{ credentials.PGPASSWORD }}
      DEPLOYMENT: {{ credentials.DEPLOYMENT }}

  {{ docker_service_name }}_web:
    <<: *{{ docker_service_name }}_worker
    command: /compose/start
    restart: on-failure
    ports:
      - "{{ host_port }}:{{ docker_port }}"

  {{ docker_service_name }}_plugins:
    image: {{ docker_hub_url }}/{{ image_name }}:{{ tag }}
    command: ./bin/plugin-server --no-restart-loop
    networks:
      application_default:
        aliases:
            - {{ network_alias_name }}
    environment:
      DATABASE_URL: '{{ credentials.DATABASE_URL }}'
      KAFKA_HOSTS: '{{ service_posthog_kafka_service }}:9092'
      REDIS_URL: '{{ credentials.REDIS_URL }}'
      CLICKHOUSE_HOST: '{{ service_posthog_clickhouse }}'

  {{ docker_service_name }}_asyncmigrationscheck:
    <<: *{{ docker_service_name }}_worker
    command: python manage.py run_async_migrations --check
    restart: 'no'

networks:
  application_default:
    external: true
