version: '3'

services:
  {{ docker_service_name }}:
    hostname: {{ docker_service_name }}
    image: {{ docker_hub_url }}/{{ image_name }}:{{ tag }}
    env_file:
      - {{ env_file_deployment_location }}
    networks:
      application_default:
        aliases:
            - {{ network_alias_name }}
    ports:
      - {{host_port}}:{{docker_port}}    

  {{ docker_service_name }}_gql:
    container_name: {{ docker_service_name }}_gql
    image: hasura/graphql-engine:v2.7.0
    ports:
      - {{host_port_hasura}}:8080
    environment:
      HASURA_GRAPHQL_DATABASE_URL: {{ credentials.DATABASE_URL }}
      HASURA_GRAPHQL_ENABLE_CONSOLE: "true"
      HASURA_GRAPHQL_ADMIN_SECRET: {{ credentials.HASURA_ADMIN_SECRET }}
      WEBHOOK_URL: http://{{ docker_service_name }}:{{docker_port}}/submit
    networks:
      application_default:
        aliases:
            - {{ network_alias_name }}

  {{ docker_service_name }}_redis-ui:
    container_name: {{ docker_service_name }}_redis-ui
    image: redislabs/redisinsight:latest
    networks:
      application_default:
        aliases:
            - {{ network_alias_name }}
    volumes:
      - redisinsight:/db 
    ports:
      - {{host_port_redis_ui}}:8001

networks:
  application_default:
    external: true

volumes:
  redisinsight: